body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

.auth{
  display: flex;
  flex-direction: column;
  width: 250px;
  padding:20px;
  justify-content: center;
  
  input{
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }
}